html{
    height: 99%;
    width: 99%;
}
body{
    height: 99%;
    width: 99%;
    display: inline-grid;
    align-items: center;
    justify-items: center;
}
#form{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 30px;
}
#tekst{
    display: flex;
    flex-direction: row;
    color: green;
    margin-left: 90px;
}
#Voornaam{
    display: flex;56b
    flex-direction: row;
}

#Achternaam{
    display: flex;
    flex-direction: row;
}
#Geboortedatum{
    display: flex;
    flex-direction: row;
}
#Nickname{
    display: flex;
    flex-direction: row;
}
#Emailadres{
    display: flex;
    flex-direction: row;
}
#Telefoonnummer{
    display: flex;
    flex-direction: row;
}
#VN{
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}
#AN{
    display: flex;
    flex-direction: column;
    margin-left: 51px; 
}
#GD{
    display: flex;
    flex-direction: column;
    margin-left: 31px;
}
#NN{
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}
#EA{
    display: flex;
    flex-direction: column;
    margin-left: 58px;
}
#TN{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
img{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}